<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/event.css">
  <title>Edit event</title>
</head>
<body>
  <h1>Edit event</h1>

  <form action="/events/<%= event._id %>/update?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" value="<%= event.name %>" required><br><br>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= event.description %></textarea><br><br>
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= event.date.toISOString().substring(0, 10) %>" required><br><br>
    <br>
     <label for="time">Time:</label>
     <input type="time" id="time" name="time" value="<%= event.time %>" required> 
     <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" value="<%= event.location %>" required><br><br>
    <br>
    <label for="images">Images:</label>
    <input type="file" name="images" id="images" accept="image/*" multiple>
    <br>
    <% event.images.forEach(function(image) { %>
      <img src="<%= image %>" alt="<%= event.name %> image" width="100" height="100">
    <% }); %>
    <br>
    <input type="submit" value="Submit">
  </form>
  <a href="/events">Back to events</a>
</body>
</html>

