<h1>Contact Message List</h1>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(function(contact) { %>
            <tr>
                <td><%= contact.name %></td>
                <td><%= contact.email %></td>
                <td><%= contact.title %></td>
                <td><%= contact.issue %></td>

                <td>
                    <a
                        href="/contact/<%= contact._id %>?_method=DELETE"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete this record?')"
                    >
                        Delete
                    </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
