<%- contentFor('headerCss')%>
<link rel="stylesheet" href="/css/facilitiesStyle.css">
<%- contentFor('headerSEO') %>
<meta name="description" content="Discover the range of facilities offered by the Sports Complex to meet your fitness and recreation needs. Improve your skills, have fun with friends and family, and stay in shape.">
<meta name="keywords" content="sports complex, facilities, fitness, recreation, skills, fun, friends, family">
<%- contentFor('body')%>
<head>
<title>Facilities | Sports Complex</title>
</head>
<body>
  <h1>Facilities</h1>
  <% if (user && user.isAdmin) { %>
    <div class="facility-button">
        <a href="/facilities/new">Add New Facility</a>
    </div>   
  <% } %>
  <p>The Sports Complex offers a wide range of facilities to meet your fitness and recreation needs. Whether you're looking to stay in shape, improve your skills, or have fun with friends and family, we have something for everyone.</p>
  <ul>
  <% facilities.forEach(function(facility) { %>
    <li>
      <h2><%= facility.name %></h2>
      <div class="facility-images">
        <% facility.images.forEach(function(image) { %>
          <img src="<%= image %>" alt="<%= facility.name %>">
        <% }); %>
      </div>
      <p><%= facility.description %></p>
      <% if (user && user.isAdmin) { %>
        <div class="facility-button">
          <a href="/facilities/<%= facility._id %>/edit">Edit Facility</a>
          <a href="/facilities/<%= facility._id %>/delete?_method=DELETE" onclick="return confirm('Are you sure you want to delete this facility?');">Delete Facility</a>
        </div>
      <% } %>
    </li>
  <% }); %>
  </ul>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function(){
    $(".facility-images").each(function(){
      var images = $(this).find("img");
      var currentIndex = 0;

      function showImage(n) {
        images.hide();
        images.eq(n).show();
        currentIndex = n;
      }

      function nextImage() {
        var nextIndex = (currentIndex + 1) % images.length;
        showImage(nextIndex);
      }

      function prevImage() {
        var prevIndex = (currentIndex + images.length - 1) % images.length;
        showImage(prevIndex);
      }

      $(this).append('<div class="facility-nav"><button class="prev-btn">&#10094;</button><button class="next-btn">&#10095;</button></div>');
      $(this).find(".prev-btn").click(function(){
        prevImage();
      });
      $(this).find(".next-btn").click(function(){
        nextImage();
      });

      showImage(currentIndex);
    });
  });
  </script>
</body>
