<link rel="stylesheet" href="/css/userStyle.css" />

<div class="user-table">
    <h1>Users Table</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
            <tr>
                <td><a href="/users/<%= user._id %>"><%= user.name %></a></td>
                <td><%= user.email %></td>
                <td class="edit-delete-links">
                    <a href="/users/<%= user._id %>/edit">Edit</a>
                    <form
                        action="/users/<%= user._id %>/delete?_method=DELETE"
                        method="POST"
                        onsubmit="return confirm('Are you sure you want to delete this user?')"
                    >
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
