<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/userStyle.css" />
        <title>User Details</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><%= currentUser.name %></h1>
                    <hr />
                    <p><strong>Email:</strong> <%= currentUser.email %></p>
                    <p><strong>Membership:</strong> <%= currentUser.memberships.map(membership => membership.type) %></p>
                    <!-- <p><strong>Password:</strong> <%= user.password %></p> -->
                    <% if (currentUser && (currentUser._id.toString() ===
                    currentUser._id.toString() || currentUser.isAdmin)) { %>
                    <div class="user-buttons">
                        <a href="/users/<%= user._id %>/edit">Edit User</a>
                        <a
                            href="/users/<%= user._id %>/delete?_method=DELETE"
                            onclick="return confirm('Are you sure you want to delete this user?');"
                            >Delete User</a
                        >
                        <% if (currentUser.isAdmin) { %>
                        <a href="/users/new">Create New User</a>
                        <a href="/users">Show User Table</a>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
